
@section titulo{
    <h2>Transacción</h2>
}

<h3>Transacción</h3>





@*//*@
@*class="js-data-example-ajax"*@
<select id="SelectClave1">
    <option>mexico</option>
    <option>belgica</option>
    <option>japon</option>
    <option>alemania</option>
</select>
@*<textarea name="some" class="select2-container"> </textarea>*@
<nav class="Navigate" id="NavInitial">
    <h2 id="TxtInicial">Selecciona la opción que desea</h2>
    <br>

    <button title="Reducción" class="btn-T" id="Reduc" onclick="ProcReduc();" style="display:inline;position:center;margin-left:5%">Reduccion</button>
    <button title="Transferir" class="btn-T" id="Transfer" onclick="ProcTransfer();" style="display:inline;position:center;margin-left:5%">Transferencia</button>
</nav>
@*/SECCION DEL MENU DE REDUCCIÓN/*@
<div class="Centrar" @*class="col-md-6"*@>
    <h3 id="TxtRedu" style="display:none;">Introduzca los siguientes datos para realizar la reducción</h3>
    <nav name="MenuReduc1" id="IDMenuReduc1" class="menu" style="display:none;">
        <h5 class="P-Kevin">Monto</h5>
        <ul>
            <li name="monto1">
                <textarea name="NCajaMontoReduccion" id="CajaMontoR"> </textarea>
            </li>
        </ul>
    </nav>
    <nav name="MenuReduc2" id="IDMenuReduc2" class="menu" style="display:none;">
        <h5 class="P-Kevin">Clave</h5>
        <ul>
            <li name="clave1">
                <textarea name="NCajaClaveReduccion" id="CajaClaveR"> </textarea>
            </li>
        </ul>
        @*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
        @*@foreach (string item in Model)
        {

    <tr>
        <td>@item</td>
        <td class="tablainput"><input class="single-checkbox" value="@item" id="@item" type="checkbox"></td>
    </tr>}*@
@*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
        @*<select id="SelectClaveReducc">
            <option>Clave1</option>
            <option>Clave2</option>
            <option>Clave3</option>
            <option>Clave4</option>
        </select>*@
    </nav>
    <nav name="MenuReduc3" id="IDMenuReduc3" class="menu" style="display:none;">
        <h5 class="P-Kevin">Motivo</h5>
        <ul>
            <li name="motivo1">
                <textarea name="NCajaMotivoReduccion" id="CajaMotivoR"> </textarea>
            </li>
        </ul>
    </nav>
    <nav name="Prueba" id="Prueba" class="menu" style="display:none;">
        <h5 class="P-Kevin">Prueba</h5>
        <ul>
            <li name="Prueba1">
                <textarea name="prueba2" id="CajaMesValue" readonly="readonly"> </textarea>
            </li>
        </ul>
    </nav>
    <nav name="MenuReduc4" id="IDMenuReduc4" class="listado" style="display:none;">
        <h5 class="P-Kevin">Mes</h5>
        <ul>
            <li name="mes1">
                <textarea name="NCajaMesReduccion" id="CajaMesR" readonly="readonly"> </textarea>
                <ul id="ListaMesesReducc">
                    <li value="01" id="Month1"><a>Enero</a></li>
                    <li value="02" id="Month2"><a>Febrero</a></li>
                    <li value="03" id="Month3"><a>Marzo</a></li>
                    <li value="04" id="Month4"><a>Abril</a></li>
                    <li value="05" id="Month5"><a>Mayo</a></li>
                    <li value="06" id="Month6"><a>Junio</a></li>
                    <li value="07" id="Month7"><a>Julio</a></li>
                    <li value="08" id="Month8"><a>Agosto</a></li>
                    <li value="09" id="Month9"><a>Septiembre</a></li>
                    <li value="10" id="Month10"><a>Octubre</a></li>
                    <li value="11" id="Month11"><a>Noviembre</a></li>
                    <li value="12" id="Month12"><a>Diciembre</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <br>
    <br>
    <button id="EnviarReduc" class="btn btn-success" onclick="Reduccion();" style="display:none">Reducir</button>
    <br>
</div>
@*/aqui va el modal/*@
<div id="ModalReducc" style="display:none;height:900px;" class="modal-backdrop">
    <div class="modal-content" style="width:400px;left:25%;margin-right:10%;margin-left:10%;margin-top:10%;height:auto;">
        <img src="@Url.Content("~/Content/images/Escudo_palomita.png")" class="LOGOS" />
        <div class="modal-header Popup" id="HeaderModal" style="height:auto;text-align:center;">
            <h2>El proceso se ha realizado éxitosamente</h2>
            <button title="Siguiente" class="btn btn-success" data-backdrop="false" onclick="HideModalReducc();;" style="margin-right:45%;margin-left:45%">Salir</button>
        </div>

    </div>
</div>
<div id="ModalTransfer" style="display:none;height:900px;" class="modal-backdrop">
    <div class="modal-content" style="width:400px;left:25%;margin-right:10%;margin-left:10%;margin-top:10%;height:auto;">
        <img src="@Url.Content("~/Content/images/Escudo_palomita.png")" class="LOGOS" />
        <div class="modal-header Popup" id="HeaderModal" style="height:auto;text-align:center;">
            <h2>El proceso se ha realizado éxitosamente</h2>
            <button title="Siguiente" class="btn btn-success" data-backdrop="false" onclick="HideModalTransfer();;" style="margin-right:45%;margin-left:45%">Finalizar</button>
        </div>

    </div>
</div>


@*/SECCION DEL MENU DE TRANSFERENCIA/*@

<div class="col-md-6" style="margin-left: 30%;">
    <h3 id="TxtTrans" style="display:none;">Introduzca los siguientes datos para realizar la transferencia</h3>
    <br>
    <div class="col-md-6" id="Origen">
        <nav name="MenuTransfer2" id="IDMenuTransfer2" class="menu" style="display:none;">
            <h5 class="P-Kevin">Clave Origen</h5>
            <ul>
                <li name="claveOrigen">
                    <textarea name="NCajaClaveOrigenTransfer" id="CajaClaveOrigenT"> </textarea>
                </li>
            </ul>
        </nav>
        <nav name="MenuTransfer1" id="IDMenuTransfer1" class="menu" style="display:none;">
            <h5 class="P-Kevin">Monto Origen</h5>
            <ul>
                <li name="montoOrigen">
                    <textarea name="NCajaMontoOrigen" id="CajaMontoOrigen"> </textarea>
                </li>
            </ul>
        </nav>
        @*///*@
        <nav name="MenuOculto1" id="MenuOculto1" class="menu" style="display:none;">
            <h5 class="P-Kevin">Oculto1</h5>
            <ul>
                <li name="MenuOculto1.1">
                    <textarea name="CajaOculta1" id="CajaOcultaMesOrigen" readonly="readonly"> </textarea>
                </li>
            </ul>
        </nav>
        <nav name="MenuTransfer5" id="IDMenuTransfer5" class="listado" style="display:none;">
            <h5 class="P-Kevin">Mes Origen</h5>
            <ul>
                <li name="mesOrigen">
                    <textarea name="NCajaMesOrigen" id="CajaMesOrigen" readonly="readonly"> </textarea>
                    <ul id="ListaMesesOrigen">
                        <li value="01" id="Month1"><a>Enero</a></li>
                        <li value="02" id="Month2"><a>Febrero</a></li>
                        <li value="03" id="Month3"><a>Marzo</a></li>
                        <li value="04" id="Month4"><a>Abril</a></li>
                        <li value="05" id="Month5"><a>Mayo</a></li>
                        <li value="06" id="Month6"><a>Junio</a></li>
                        <li value="07" id="Month7"><a>Julio</a></li>
                        <li value="08" id="Month8"><a>Agosto</a></li>
                        <li value="09" id="Month9"><a>Septiembre</a></li>
                        <li value="10" id="Month10"><a>Octubre</a></li>
                        <li value="11" id="Month11"><a>Noviembre</a></li>
                        <li value="12" id="Month12"><a>Diciembre</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        @*///*@

    </div>
    <div class="col-md-6" id="Destino">
        <nav name="MenuTransfer3" id="IDMenuTransfer3" class="menu" style="display:none;">

            <h5 class="P-Kevin">Clave Destino</h5>
            <ul>
                <li name="claveDestino">
                    <textarea name="NCajaClaveDestinoTransfer" id="CajaClaveDestinoT"> </textarea>
                </li>
            </ul>
        </nav>
        @*<nav name="MenuTransfer7" id="IDMenuTransfer7" class="menu" style="display:none;">
                <h5 class="P-Kevin">Monto Destino</h5>
                <ul>
                    <li name="montoDestino">
                        <textarea name="NCajaMontoDestino" id="CajaMontoDestino"> </textarea>
                    </li>
                </ul>
            </nav>*@


        <nav name="MenuOculto2" id="MenuOculto2" class="menu" style="display:none;">
            <h5 class="P-Kevin">Oculto2</h5>
            <ul>
                <li name="MenuOculto1.2">
                    <textarea name="CajaOculta2" id="CajaOcultaMesDestino" readonly="readonly"> </textarea>
                </li>
            </ul>
        </nav>
        <nav name="MenuTransfer6" id="IDMenuTransfer6" class="listado" style="display:none;">
            <h5 class="P-Kevin">Mes Destino</h5>
            <ul>
                <li name="mesDestino">
                    <textarea name="NCajaMesDestino" id="CajaMesDestino" readonly="readonly"> </textarea>
                    <ul id="ListaMesesDestino">
                        <li value="01" id="Month1"><a>Enero</a></li>
                        <li value="02" id="Month2"><a>Febrero</a></li>
                        <li value="03" id="Month3"><a>Marzo</a></li>
                        <li value="04" id="Month4"><a>Abril</a></li>
                        <li value="05" id="Month5"><a>Mayo</a></li>
                        <li value="06" id="Month6"><a>Junio</a></li>
                        <li value="07" id="Month7"><a>Julio</a></li>
                        <li value="08" id="Month8"><a>Agosto</a></li>
                        <li value="09" id="Month9"><a>Septiembre</a></li>
                        <li value="10" id="Month10"><a>Octubre</a></li>
                        <li value="11" id="Month11"><a>Noviembre</a></li>
                        <li value="12" id="Month12"><a>Diciembre</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        @*///*@

    </div>
    @*seccion media*@
    <br>
    <div class="col-md-6">
        <nav name="MenuTransfer4" id="IDMenuTransfer4" class="menu" style="display:none;">
            <h5 class="P-Kevin">Motivo</h5>
            <ul>
                <li name="motivo2">
                    <textarea name="NCajaMotivoTransferencia" id="CajaMotivoT"> </textarea>
                </li>
            </ul>
        </nav>
        <br>
        <br>
        <button id="EnviarTransfer" class="btn btn-success" onclick="Transferencia();" style="display:none">Transferir</button>

    </div>
</div>

@*//*@


<style>
    .Navigate {
        display: inline;
    }

    .btn-T {
        background-color: rgb(154, 154, 151);
        border-radius: 30px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
    }

    .Clase {
        width: 100%;
        height: 539px;
    }
    /* //////////////////////////////seccion para el modal///////////////////////*/
    .LOGOS {
        height: 150px;
        width: 37.5%;
        /*float: left;*/
        margin-left: 31.25%;
        margin-right: 31.25%;
        /* z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;*/
    }

    .modal-backdrop {
        background-color: rgba(00,00,00,0.5);
        /* display: none;*/
        width: 100%;
        z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .modal-content {
        font-weight: bold;
        color: black;
        /* z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;*/
    }
    /* /////////////////////////////////////////////////////////////////////////*/

    /* ///////////////sección para la lista de meses/////////////////////////////////////////////////////*/
    .listado ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 105px;
    }

        .listado ul a {
            display: block;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            font-size: 12px;
            padding: 0px;
            text-transform: uppercase;
            letter-spacing: 0px;
        }

    .listado {
        z-index: 9999999;
        padding-left: 8px;
    }

        .listado ul li {
            background-color: rgb(69, 110, 185);
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
            z-index: 9999999;
        }

            .listado ul li:hover {
                background: rgb(11, 66, 167);
            }

        .listado ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0;
        }

            .listado ul ul li {
                float: none;
                width: 100px;
                z-index: 9999999;
            }

            .listado ul ul a {
                line-height: 100%;
                padding: 10px 15px;
                padding: 10px 10px;
                z-index: 99999999;
            }

        .listado ul li:hover > ul {
            display: block;
        }

    textarea {
        width: 100px;
        font-family: Arial;
        font-size: medium;
        background-color: transparent;
        color: white;
        height: 28px;
        resize: none;
        border: none;
        padding-bottom: 0px;
        padding-top: 3px;
        padding-left: 4px;
    }

    .Centrar {
        margin-left: 35%;
    }
    /*/////////////////////////////////////////////////////////////////////////////////*/
    .menu ul li {
        display: inline-block;
        background-color: rgb(69, 110, 185);
    }

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 105px;
    }

        .menu ul a {
            display: block;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            font-size: 12px;
            padding: 0px;
            text-transform: uppercase;
            letter-spacing: 0px;
        }

    .menu {
        z-index: 99999999999999999;
        padding-left: 8px;
    }

        .menu ul li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
            z-index: 99;
        }

            .menu ul li:hover {
                background: rgb(128, 128, 128);
            }

        .menu ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0;
        }

            .menu ul ul li {
                float: none;
                width: 100px;
                z-index: 9999999999999999;
            }

            .menu ul ul a {
                line-height: 100%;
                padding: 10px 15px;
                padding: 10px 10px;
                z-index: 99999999999999999999;
            }

        .menu ul li:hover > ul {
            display: block;
        }

    .P-Kevin {
        text-align: left;
    }
</style>

<script>
    function ProcReduc() {
        document.getElementById('TxtRedu').style.display = 'inline';
        document.getElementById('NavInitial').style.display = 'none';


        document.getElementById('IDMenuReduc1').style.display = 'inline';
        document.getElementById('IDMenuReduc2').style.display = 'inline';
        document.getElementById('IDMenuReduc3').style.display = 'inline';
        document.getElementById('IDMenuReduc4').style.display = 'inline';

        document.getElementById('EnviarReduc').style.display = 'inline';
    }
    function ProcTransfer() {
        document.getElementById('NavInitial').style.display = 'none';
        document.getElementById('TxtTrans').style.display = 'inline';

        document.getElementById('IDMenuTransfer1').style.display = 'inline';
        document.getElementById('IDMenuTransfer2').style.display = 'inline';
        document.getElementById('IDMenuTransfer3').style.display = 'inline';
        document.getElementById('IDMenuTransfer4').style.display = 'inline';
        document.getElementById('IDMenuTransfer5').style.display = 'inline';
        document.getElementById('IDMenuTransfer6').style.display = 'inline';
        //document.getElementById('IDMenuTransfer7').style.display = 'inline';


        document.getElementById('EnviarTransfer').style.display = 'inline';
    }
    function Reduccion() {
        var CajaMonto = document.getElementById('CajaMontoR');
        var CajaClave = document.getElementById('CajaClaveR');
        var CajaMotivo = document.getElementById('CajaMotivoR');
        //var CajaMes = document.getElementById('CajaMesR');
        var ValorMes = document.getElementById('CajaMesValue');

        if (CajaMonto.value == ' ') {
            alert('Por favor ingrese un monto ')
        }
        //if (isNaN(formulario.edad.value)==true
        else if (isNaN(CajaMonto.value) == true) {
           alert('Por favor ingrese un monto valido')
        }
        else if (CajaClave.value == ' ') {
            alert('Por favor ingrese una clave')
        } else if (CajaMotivo.value == ' ') {
            alert('Por favor ingrese un motivo')
        } else if (ValorMes.textContent == ' ') {
            alert('Por favor seleccione el mes al que se le hara la reducción')
        } else {
            //alert("Monto: " + CajaMonto.value + "  Clave: " + CajaClave.value);
            //alert("El motivo es: " + CajaMotivo.value + "  Mes: " + CajaMes.value);
            // alert("el mes es: " + ValorMes.textContent);
            var actionDataReducc = "{'reduccionMonto': '" + CajaMonto.value + "','reduccionClave':'" + CajaClave.value + "','reduccionMes':'" + ValorMes.textContent + "','reduccionMotivo':'" + CajaMotivo.value + "'}";
            $.ajax({
                url: '@Url.Action("Reducciones", "ClavesPresupuestales")',
                data: actionDataReducc,
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    console.log("msg", msg);
                    document.getElementById('ModalReducc').style.display = 'inline';
                },
                error: function (result) {
                    alert("ERROR SEVERO, VUELVA A CARGAR LA PÁGINA" + result.status);
                }
            });
            //
            //Aqui colocaré la opcion del modal
            //alert(" La reducción se ha realizado con éxito :) ");

            //document.getElementById('ModalReducc').style.display = 'inline';

            //document.getElementById('TxtRedu').style.display = 'none';

            //document.getElementById('IDMenuReduc1').style.display = 'none';
            //document.getElementById('IDMenuReduc2').style.display = 'none';
            //document.getElementById('IDMenuReduc3').style.display = 'none';
            //document.getElementById('IDMenuReduc4').style.display = 'none';

            //document.getElementById('EnviarReduc').style.display = 'none';

            //document.getElementById('NavInitial').style.display = 'inline';
        }

    }
    function HideModalReducc() {
        document.getElementById('ModalReducc').style.display = 'none';

        document.getElementById('TxtRedu').style.display = 'none';

        document.getElementById('IDMenuReduc1').style.display = 'none';
        document.getElementById('IDMenuReduc2').style.display = 'none';
        document.getElementById('IDMenuReduc3').style.display = 'none';
        document.getElementById('IDMenuReduc4').style.display = 'none';

        document.getElementById('EnviarReduc').style.display = 'none';

        document.getElementById('NavInitial').style.display = 'inline';

    }

    function Transferencia() {
        var CajaMontoOrigen = document.getElementById('CajaMontoOrigen');
        var CajaClaveOT = document.getElementById('CajaClaveOrigenT');
        var CajaMesOrigen = document.getElementById('CajaOcultaMesOrigen');

        var CajaClaveDT = document.getElementById('CajaClaveDestinoT');
        //var CajaMontoDestino = document.getElementById('CajaMontoDestino');
        var CajaMesDestino = document.getElementById('CajaOcultaMesDestino');
        var CajaMotivo = document.getElementById('CajaMotivoT');

        if (CajaMontoOrigen.value == ' ') {
            alert('Por favor ingrese un monto de origen')
        } else if (isNaN(CajaMontoOrigen.value) == true) {
            alert('Por favor ingrese un monto de origen valido')
        }
        else if (CajaClaveOT.value == ' ') {
            alert('Por favor ingrese una clave de origen')
        } else if (CajaMesOrigen.textContent == ' ') {
            alert('Por favor ingrese un mes de origen')

        } else if (CajaClaveDT.value == ' ') {
            alert('Por favor ingrese una clave de destino')
        }
        //else if (CajaMontoDestino.value == ' ') {
        //    alert('Por favor ingrese un monto de destino')
        //}
        else if (CajaMesDestino.textContent == ' ') {
            alert('Por favor ingrese un mes de destino')
        }

        else if (CajaMotivo.value == ' ') {
            alert('Por favor ingrese el motivo de la transferencia')
        } else {
            //
            var actionDataTransfer = "{'origenMonto': '" + CajaMontoOrigen.value + "','origenClave':'" + CajaClaveOT.value + "','origenMes':'" + CajaMesOrigen.textContent + /*"','destinoMonto':'" + CajaMontoDestino.value +*/ "','destinoClave':'" + CajaClaveDT.value + "','destinoMes':'" + CajaMesDestino.textContent + "','motivoTransfer':'" + CajaMotivo.value + "'}";
             $.ajax({
                url: '@Url.Action("Transferencia", "ClavesPresupuestales")',
                 data: actionDataTransfer,
                dataType: "json",
                type: "POST",
                 contentType: "application/json; charset=utf-8",
                 success: function (msg) {
                     console.log("msg", msg);
                     document.getElementById('ModalTransfer').style.display = 'inline';
                 },
                error: function (result) {
                    alert("ERROR SEVERO, VUELVA A CARGAR LA PÁGINA" + result.status);
                }
            });
            //alert(" La transferencia se ha realizado con éxito :) ");

            //document.getElementById('ModalTransfer').style.display = 'inline';

        }
    }
    function HideModalTransfer() {
        document.getElementById('ModalTransfer').style.display = 'none';

        document.getElementById('IDMenuTransfer1').style.display = 'none';
        document.getElementById('IDMenuTransfer2').style.display = 'none';
        document.getElementById('IDMenuTransfer3').style.display = 'none';
        document.getElementById('IDMenuTransfer4').style.display = 'none';
        document.getElementById('IDMenuTransfer5').style.display = 'none';
        document.getElementById('IDMenuTransfer6').style.display = 'none';
        //document.getElementById('IDMenuTransfer7').style.display = 'none';

        document.getElementById('TxtTrans').style.display = 'none';

        document.getElementById('EnviarTransfer').style.display = 'none';

        document.getElementById('NavInitial').style.display = 'inline';
    }


    $('#ListaMesesReducc').click(function (e) {
        var li = e.target.parentNode;
        let ID = li.id;
        var Identidad = document.getElementById(ID).textContent;
        const WRITELINE = document.querySelector('#CajaMesR');
        var Lista = document.getElementById('CajaMesR');
        Lista.innerHTML = "";
        WRITELINE.insertAdjacentHTML('beforeend', Identidad)

        Valor = document.getElementById(ID).value;
        const ESCRIBE = document.querySelector('#CajaMesValue');
        var Linea = document.getElementById('CajaMesValue');
        Linea.innerHTML = "";
        ESCRIBE.insertAdjacentHTML('beforeend', Valor)
    });
    ////
    $('#ListaMesesOrigen').click(function (e) {
        var li = e.target.parentNode;
        let ID = li.id;
        var Identidad = document.getElementById(ID).textContent;
        const WRITELINE = document.querySelector('#CajaMesOrigen');
        var Lista = document.getElementById('CajaMesOrigen');
        Lista.innerHTML = "";
        WRITELINE.insertAdjacentHTML('beforeend', Identidad)

        Valor = document.getElementById(ID).value;
        const ESCRIBE = document.querySelector('#CajaOcultaMesOrigen');
        var Linea = document.getElementById('CajaOcultaMesOrigen');
        Linea.innerHTML = "";
        ESCRIBE.insertAdjacentHTML('beforeend', Valor)
    });
    ////
    $('#ListaMesesDestino').click(function (e) {
        var li = e.target.parentNode;
        let ID = li.id;
        var Identidad = document.getElementById(ID).textContent;
        const WRITELINE = document.querySelector('#CajaMesDestino');
        var Lista = document.getElementById('CajaMesDestino');
        Lista.innerHTML = "";
        WRITELINE.insertAdjacentHTML('beforeend', Identidad)

        Valor = document.getElementById(ID).value;
        const ESCRIBE = document.querySelector('#CajaOcultaMesDestino');
        var Linea = document.getElementById('CajaOcultaMesDestino');
        Linea.innerHTML = "";
        ESCRIBE.insertAdjacentHTML('beforeend', Valor)
    });


    @*$('.js-data-example-ajax').select2({
        //ajax: {
        //    url: 'https://api.github.com/search/repositories',
        //    dataType: 'json'
        //    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        //}
        ajax:{
                url: '@Url.Action("ClavesPrueba", "ClavesPresupuestales")',
                  type: "POST",
                dataType: "json"
            }

    });*@
    @*$('.js-data-example-ajax').select2({
        ajax: {
            url:'@Url.Action("ClavesPrueba", "ClavesPresupuestales")',
            processResults: function (data) {
                // Transforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: data.items
                };
            }
        }
    });*@

    $(document).ready(function () {
        $('#SelectClave1').select2();
    });
     //Solicitar a Edgar, que me mande las claves del mismo modo que me mandaba los conceptos en NominaReporte, para 
    // pintarlos en los select usando "Select2" para la autoayuda.
</script>