@{
    ViewBag.Title = "Index";
}

@section titulo{
    <h2>Calendario</h2>
}

<h3>Calendario presupuestal</h3>

<div class="row">
    <div class="pull-right">
        @if (!ViewBag.ExisteCalendario)
        {
            <button class="btn btn-success" id="guardarCalendario">Guardar calendario</button>
        }
        else
        {
            <button class="btn btn-success" id="recargar">Recargar</button>

        }
        <a class="btn btn-success" href="@Url.Action("ReporteConcentradoPrograma", "Calendario")" target="_blank">Reporte programa-concentrado</a>
        @*<input id="fileupload" type="file" name="files[]" data-url="@Url.Action("ImportarArchivo", "Calendario")" multiple>*@
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <span>GRAN TOTAL</span>
        <h2 id="granTotal">$0</h2>
        <!-- START card-->
        @*<div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-md-4">
                    <em class="icon-cloud-upload fa-3x"></em>
                </div>
                <div class="col-md-8">
                    <div class="h2 mt-0" id="granTotal">$0</div>
                    <div class="text-uppercase">Gran total</div>
                </div>
            </div>*@
    </div>
    <div class="col-md-6 col-xl-9">
        <div id="fileuploader">Agregar archivo</div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-12">
            <select id="anios" style="width:100px">
                <option value="2019">2019</option>
                <option value="2020">2020</option>
            </select>
        </div>
        <div class="col-md-12" id="calendarioExcel">
        </div>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover" id="clavesCalendario">
            <thead>
                <tr>
                    <th>Clave presupuestal</th>
                    <th></th>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                    <th>Julio</th>
                    <th>Agosto</th>
                    <th>Septiembre</th>
                    <th>Octubre</th>
                    <th>Noviembre</th>
                    <th>Diciembre</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6" id="graficaMensual">
    </div>
    <div class="col-md-6" id="graficaMensualCapitulo">
    </div>
</div>


<style>
    .Clase {
        width: 100%;
        height: 539px;
    }

    table {
        position: center;
        background-color: rgba(151, 202, 228, 0.85);
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        border: groove 4px rgba(16, 79, 155, 0.50);
        width: 100%;
    }

    #SeparaCeldasReporte {
        background-color: rgba(151, 220, 255, 185);
        border-color: rgba(151, 220, 255, 185);
        color: rgba(151, 220, 255, 185);
    }

        #SeparaCeldasReporte td {
            color: rgba(255, 255, 255, 0.00);
            background-color: white;
        }

    td, th {
        border: solid 3px rgba(22, 81, 152, 0.75);
        padding: 3px;
        text-align: left;
        color: black;
    }

    th {
        font-weight: bold;
        font-size: larger;
    }

    .modal-backdrop {
        background-color: rgba(00,00,00,0.5);
        display: none;
        width: 100%;
        z-index: 99999999999999;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .modal-content {
        font-weight: bold;
        color: black;
    }
    /* ////////////////////////////////////////////////////////////////////*/
    .tablainput {
        /*border: 2px solid rgb(22, 81, 152);*/
        /*border: solid 1px rgba(22, 81, 152, 0.75);*/
        /*float: right;*/
    }

    /*/////////////////////////////////////////////////////////////////////////////////*/
    .menu ul li {
        display: inline-block;
        background-color: rgb(69, 110, 185);
    }

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 105px;
    }

        .menu ul a {
            display: block;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            font-size: 12px;
            padding: 0px;
            /* font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
            /*font-family: Arial;*/
            text-transform: uppercase;
            letter-spacing: 0px;
        }

    .menu {
        z-index: 99999999999999999999;
        padding-left: 8px;
    }

        .menu ul li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
            z-index: 99999999999999999999;
        }

            .menu ul li:hover {
                background: rgb(11, 66, 167);
            }

        .menu ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0;
        }

            .menu ul ul li {
                float: none;
                width: 100px;
                z-index: 99999999999999999999;
            }

            .menu ul ul a {
                line-height: 100%;
                padding: 10px 15px;
                padding: 10px 10px;
                z-index: 99999999999999999999;
            }

        .menu ul li:hover > ul {
            display: block;
        }

    textarea {
        width: 100px;
        font-family: Arial;
        font-size: small;
        background-color: transparent;
        color: white;
        height: 21px;
        resize: none;
        border: none;
        padding-bottom: 0px;
        padding-top: 3px;
        padding-left: 4px;
    }
    /*//*/
    .P-Kevin {
        text-align: left;
    }
    /*//*/
</style>

<script>

    $(function () {

        $('#anios').select2();
        habilitarImportacion();
        habilitarGuardarCalendario();
        habilitarCalendario();
        habilitarCargarClaves();
    });

    function habilitarImportacion() {
        $("#fileuploader").uploadFile({
            url: '@Url.Action("ImportarArchivo", "Calendario")',
            multiple: false,
            maxFileCount: 1,
            fileName: "calendario",
            returnType: 'json',
            allowedTypes: 'xlsx',
            showDelete: true,
            onSubmit: function (files) {
                $.blockUI({
                    message: 'Cargando archivo...',
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
            },
            onSuccess: function (files, data, xhr, pd) {

                //atendiente errores
                if (data.errores != null) {
                    //  console.log('las sig lineas no contienen 43 caracteres', data.errores);
                    alert("Las siguientes filas del exel cargado no contienen 43 caracteres " + "\r\n" + data.errores + "\r\n");
                    alert("VERIFIQUE LOS DATOS POR FAVOR Y VUELVA A INTENTAR");

                } else if (data.elementoDeClave != null)
                {
                   // alert("Las siguientes filas del exel cargado no contienen 43 caracteres " + "\r\n" + data.errores + "\r\n");
                    alert("VERIFIQUE LOS SIGUIENTES ELEMENTOS DE LA CLAVE PRESUPUESTAL" + "\r\n" + data.elementoDeClave + "\r\n");

                }


                console.log(data.exitoso);

                //noty({
                //    text: data.mensaje,
                //    type: 'info',
                //    layout: 'center',
                //    dismissQueue: true,
                //    modal: false,
                //    closeWith: ['click'],
                //    timeout: 4000
                //});

                $.each(data.claves, function (index, c) {
                    filaClave = tabla.row.add(c.clave.split('|')).draw();

                    var datos = c.clave.split('|').slice(2, c.clave.split('|').length);
                    var chart = $('<span></span>');
                    $(filaClave.nodes()[0]).children().first().next().append(chart);

                    chart.sparkline($.map(datos, function (i) {
                        return parseFloat(i);
                    }));

                });

                $('#granTotal').text('$' + numeral($.Enumerable.From(data.clavesPresupuestales).Select(function (x) { return x.PresupuestoAnual }).Sum()).format('0,0.00'));

                cargarGraficaMensual();
                cargarGraficaMensualCapitulo();

                $.unblockUI();
            },
        });
    }

    function habilitarGuardarCalendario() {
        $('#guardarCalendario').click(function (evento) {
            evento.preventDefault();

            ////parsear claves
            //var claves =
            //    tabla.data();

            //var datos = new Array();

            //$.map(claves, function (clave) {
            //    datos.push({
            //        'Clave': clave[0], 'MontoEnero': parseFloat(clave[2]), 'MontoFebrero': parseFloat(clave[3]), 'MontoMarzo': parseFloat(clave[4]),
            //        'MontoAbril': parseFloat(clave[5]), 'MontoMayo': parseFloat(clave[6]), 'MontoJunio': parseFloat(clave[7]), 'MontoJulio': parseFloat(clave[9]),
            //        'MontoAgosto': parseFloat(clave[9]), 'MontoSeptiembre': parseFloat(clave[10]), 'MontoOctubre': parseFloat(clave[11]), 'MontoNoviembre': parseFloat(clave[12]),
            //        'MontoDiciembre': parseFloat(clave[13])
            //    });
            //});

            $.ajax({
                url: '@Url.Action("GuardarClaves", "Calendario")',
                //data: $.toDictionary(datos),
                type: 'POST',
                dataType: 'json',
                success: function (resultado) {
                    console.log(resultado);
                },
                error: function (e) {
                    console.error(e);
                }
            });

        });
    }

    function habilitarCalendario() {
        tabla = $('#clavesCalendario').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false,
            select: true,
            language: {
                "emptyTable": "Sin claves a mostrar",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ claves",
                "infoEmpty": "Mostrando 0 a 0 de 0 claves",
                "infoFiltered": "(filtered from _MAX_ total entries)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Show _MENU_ entries",
                "loadingRecords": "Loading...",
                "processing": "Processing...",
                "search": "Buscar:_XS",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Next",
                    "previous": "Previous"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            }
        });
    }

    function cargarGraficaMensual() {
        $.ajax({
            url: "@Url.Action("MontoMensual", "Calendario")",
            type: "POST",
            dataType: "json",
            success: function (resultado) {
                //console.log(resultado);

                Highcharts.chart('graficaMensual', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Presupuesto por meses'
                    },
                    subtitle: {
                        text: 'Fuente: apps.issstecam.gob.mx'
                    },
                    xAxis: {
                        categories: [
                            'Ene',
                            'Feb',
                            'Mar',
                            'Abr',
                            'May',
                            'Jun',
                            'Jul',
                            'Ago',
                            'Sep',
                            'Oct',
                            'Nov',
                            'Dic'
                        ],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'En pesos ($)'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>${point.y:.1f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: resultado,
                    credits: {
                        enabled: false
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function cargarGraficaMensualCapitulo() {
        $.ajax({
            url: "@Url.Action("MontoMensualCapitulo", "Calendario")",
            type: "POST",
            dataType: "json",
            success: function (resultado) {
                console.log(resultado);
                //$('#graficaMensual').

                Highcharts.chart('graficaMensualCapitulo', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Presupuesto por capítulo'
                    },
                    subtitle: {
                        text: 'Fuente: apps.issstecam.gob.mx'
                    },
                    xAxis: {
                        categories: resultado.capitulos,
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'En pesos ($)'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>${point.y:.1f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: resultado.datos,
                    credits: {
                        enabled: false
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function habilitarCargarClaves() {
        $('#recargar').click(function (evento) {
            evento.preventDefault();

            $.blockUI({
                message: 'Cargando claves...',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });

            $.ajax({
                url: "@Url.Action("ObtenerClaves", "Calendario")",
                type: "POST",
                dataType: "json",
                success: function (resultado) {

                    $.each(resultado.claves, function (index, c) {
                        filaClave = tabla.row.add(c.clave.split('|')).draw();

                        var datos = c.clave.split('|').slice(2, c.clave.split('|').length);
                        var chart = $('<span></span>');
                        $(filaClave.nodes()[0]).children().first().next().append(chart);

                        chart.sparkline($.map(datos, function (i) {
                            return parseFloat(i);
                        }));

                    });

                    $('#granTotal').text('$' + numeral($.Enumerable.From(resultado.clavesPresupuestales).Select(function (x) { return x.PresupuestoAnual }).Sum()).format('0,0.00'));

                    cargarGraficaMensual();
                    cargarGraficaMensualCapitulo();

                    $.unblockUI();
                },
                error: function (error) {
                    console.log(error);
                }
            });

        });
    }
</script>